<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: I18n.t("views.common.What's happening?") %>
    </div>
      <%= f.submit I18n.t("views.common.Post"), class: "btn btn-primary" %>
<% end %>
