<% @user ||= current_user %>
<div class="stats">
    <div class = "btn btn-default">
    <%= link_to I18n.t("views.common.followings"), followings_user_path(@user), {:style => 'color:#000;text-decoration:none;'} %>
        <strong id="followings" class="stat">
            <%= @user.following_users.count %>
        </strong>
    </div>   
    
    <div class = "btn btn-default">
    <%= link_to  I18n.t("views.common.followers"), followers_user_path(@user), {:style => 'color:#000;text-decoration:none;'} %>
        <strong id="followers" class="stat">
            <%= @user.follower_users.count %>
        </strong>
     </div>   
</div>

