<% @user ||= current_user %>
<div class="stats">
   <%= link_to 'followings', followings_user_path(@user) %>
        <strong id="followings" class="stat">
            <%= @user.following_users.count %>
        </strong>
       
    
     <%= link_to 'followers', followers_user_path(@user) %>
        <strong id="followers" class="stat">
            <%= @user.follower_users.count %>
        </strong>
       
</div>

